html, body, * {
    margin : 0;
    padding : 0;
}

body { 
    display : flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
}

#game-canvas { 
    width : 600px;
    height : 600px;
    border : 2px solid black
}